<%- include('index') %>
<link rel="stylesheet" href="/css/assign_prof.css">
<div class="assign-prof-container">
    <div class="page-title">
        <h1>Assigner un professeur à une classe :</h1>
    </div>
    <div class="assign-prof">
        <form id="assign-prof-form" action="/professeurs/assigne" method="POST">
            <label for="profId">Professeur :</label>
            <select name="profId" id="profId" required>
                <% professeurs.forEach(professeur => { %>
                    <option value="<%= professeur.id %>"><%= professeur.nom %> <%= professeur.prenom %></option>
                <% }); %>
            </select>

            <label for="classId">Classe :</label>
            <select name="classId" id="classId" required>
                <% classes.forEach(classe => { %>
                    <option value="<%= classe.id %>"><%= classe.libelle %></option>
                <% }); %>
            </select>

            <input type="submit" value="Assigner" />
        </form>
    </div>
</div>
<script src="/js/assign_prof.js"></script>
